.swiper-container {
  overflow: hidden; /* Prevent vertical scroll */
}
.ec-avatar-placeholder {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3474d4;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  text-transform: uppercase;
}

@media print {
  header,
  footer,
  #ec-header-btn,
  .ec-header,
  .ec-shop-leftside.ec-vendor-sidebar,
  .ec-vendor-card-header {
    display: none !important;
  }
}

label {
  margin-bottom: 5px;
  margin-top: 10px;
}
.invalid-feedback {
  color: red;
}
